<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<h1>Create Category</h1>


<a style="color: #6f42c1 ; " href="/category">Category List</a><br>
<form th:action="@{/category/create}" th:object="${categories}" method="post">
    <table>
        <tr>
            <td>Category: </td>
            <td><input type="text" th:field="*{categoryName}"/></td>
            <td th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}">Name Error</td>
        </tr>
        <tr>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
<footer th:replace="layout :: footer"></footer>
</html>