<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<a href="/category/create">Create new category</a>
<a href="/post">To Post List</a><br>
<h1>Category</h1>
<table border="1">
       <tr>
           <th>Category Name</th>
           <th>Edit</th>
           <th>Delete</th>
       </tr>
<th:block th:each="category : ${categories}">
    <tr>
        <td th:text="${category.categoryName}"></td>
        <td><a th:href="@{/category/edit/__${category.id}__}" >Edit</a></td>
        <td><a th:href="@{/category/delete/__${category.id}__}" >Delete</a></td>
    </tr>
</th:block>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>