<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<meta charset="UTF-8">
<title>Edit Product</title>
<body>
<h3>Edit0 Product</h3>
<p>
    <a th:href="@{/}">
        Back to products list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/update}" th:object="${product}"
          method="post" novalidate="novalidate" >
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tên</label>
            <input type="text"th:field="*{name}">
        </div>
        <div>
            <label>Giá</label>
            <input type="text"th:field="*{price}">
        </div>
        <div>
            <label>Mô tả</label>
            <input type="text"th:field="*{description}">
        </div>
        <div>
            <label>Nhà sản xuất</label>
            <input type="text"th:field="*{producer}">
        </div>
        <input type="submit" value="Update"/>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>