<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<h1>Create New Blog</h1>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<a class="btn btn-primary" href="/post">Post List</a><br>
<form th:action="@{/post/create}" th:object="${posts}" method="post">
    <table class="table table-hover">
        <tr>
            <td>Title: </td>
            <td><input type="text" th:field="*{title}"/></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</td>
        </tr>
        <tr>
            <td >Content: </td>
            <td><textarea rows="20" cols="60" th:field="*{content}"></textarea> </td>
            <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Name Error</td>
        </tr>
        <tr>
            <td>Author: </td>
            <td><input type="text" th:field="*{author}"></td>
            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</td>
        </tr>
        <tr>
            <td>Category: </td>
            <td>
                <select th:field="*{category.id}">
                    <option th:each="p : ${categories}"
                            th:value="${p.id}"
                            th:text="${p.categoryName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input class="btn btn-primary" type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
<footer th:replace="layout :: footer"></footer>
</html>