<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">

</head>

<body>
<h1>Show Blog</h1>

<style>
    td {
        background: #fdeeff;
    }

    textarea {
        background: #fdeeff;
    }
</style>

<a class="btn btn-primary" href="/post">Post List</a><br>

<fieldset>
    <legend>Blog information</legend>
    <table class="table table-hover" th:object="${posts}">
        <tr>
            <td>Title:</td>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea style="width: 100%" rows="20" cols="60" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td th:text="*{author}"></td>
        </tr>
        <tr>
            <td>Date Upload:</td>
            <td th:text="*{blogUploadDate}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td th:text="*{category.categoryName}"></td>
        </tr>
    </table>
</fieldset>

</body>
<footer th:replace="layout :: footer"></footer>
</html>