<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<h1>Delete Blog</h1>

<h2 style="color: darkred" >Are you sure to delete this Blog?</h2>

<a class="btn btn-primary" href="/post">Post List</a><br>
<form th:action="@{/post/delete}" th:object="${posts}" method="post">
    <table class="table table-hover" >
        <input th:type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{category.id}"/>
<!--        <input type="hidden" th:field="*{category.categoryName}"/>-->
<!--        <input type="hidden" th:field="*{category.delete}"/>-->
        <input type="hidden" th:field="*{title}"/>
        <input type="hidden" th:field="*{content}"/>
        <input type="hidden" th:field="*{author}"/>
        <input type="hidden" th:field="*{delete}"/>
        <tr>
            <td>Title: </td>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <td >Content: </td>
            <td th:text="*{content}"></td>
        </tr>
        <tr>
            <td>Author: </td>
            <td th:text="*{author}"></td>
        </tr>
        <tr>
            <td>Date Upload: </td>
            <td th:text="*{blogUploadDate}"></td>
        </tr>
        <tr>
            <td>Category </td>
            <td th:text="*{category.categoryName}"></td>
        </tr>
        <tr>
            <td colspan="2"><input class="btn btn-primary" type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
<footer th:replace="layout :: footer"></footer>
</html>