*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bangers', cursive;
    font-size: 16px;
    color: #263238;
    line-height: 1.5;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
p {
    margin: 0 0 10px;
}
a {
    text-decoration:none;
    color: white;
}
.wrapper {
    width: 100%;
    margin: auto;
}
.sidebar {
    width: 40%;
    background: #37474f;
    color: #fff;
    float: left;
}
.flex {
    display: flex;
}
.flex .middle {
    align-items: center;
}
.flex .flex--1 {
    flex: 1;
}
.content {
    width: 60%;
    padding: 70px;
    float: left;
    background-color: #e1e162;

}
.avatar {
    text-align: center;
    padding: 60px 0;
    background: darkslateblue;
}
.avatar img {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .1);
}
.avatar h1 {
    font-size: 32px;
    text-transform: uppercase;
    margin: 25px 0 0;
    line-height: 1;
}
.avatar h4 {
    font-size: 22px;
}

.module__title {
    font-size: 22px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.sidebar .module:last-child {
    margin-bottom: 50px;
}
.module__title {
    font-size: 22px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.module__title .circle {
    margin-right: 10px;
}
.circle {
    font-size: 10px;
    color: #fff;
    background: #263238;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}
.circle.circle--large {
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.circle.circle--medium {
    width: 35px;
    height: 35px;
    line-height: 42px;
}
.circle.circle--small {
    width: 20px;
    height: 20px;
    line-height: 30px;
}
.circle.circle--white {
    background: #fff;
    color: #263238;
}
.progress-bar,
.progress-bar span {
    height: 6px;
    background: #fff;
    border-radius: 6px;
    display: block;
}
.progress-bar span {
    background: #263238;
}
.module--progress li {
    margin-bottom: 20px;
}
.section {
    margin-bottom: 50px;
}
.section__title {
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.section__content {
    padding-left: 90px;
}
.content .module:not(:first-child) {
    margin-top: 50px;
}
.content .module__title {
    margin-bottom: 0;
}
.module .module__content {
    margin-top: 20px;
}
.content span{
    padding: 20%;
    text-decoration-line: underline;
}
