<div class="row justify-content-between">
  <h2>Danh Sách Nhân Viên</h2>
  <div class="d-flex">
    <input class="form-control mr-2 border border-primary" type="text" style="width: 300px;" placeholder="Something">
    <button class="btn btn-primary">Tìm kiếm</button>
  </div>
</div>

<div class="row mt-4">
  <button class="btn btn-success" routerLink="/employee-add">Thêm mới</button>
  <table class="table mt-4 table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Họ và tên</th>
      <th>Số CMND</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Toàn</td>
      <td>0123654</td>
      <td>
        <button class="btn btn-warning mr-3">Sửa</button>
        <button class="btn btn-danger mr-3">Xóa</button>
        <button class="btn btn-primary">Chi Tiết</button>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Toàn</td>
      <td>0123654</td>
      <td>
        <button class="btn btn-warning mr-3">Sửa</button>
        <button class="btn btn-danger mr-3">Xóa</button>
        <button class="btn btn-primary">Chi Tiết</button>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Toàn</td>
      <td>0123654</td>
      <td>
        <button class="btn btn-warning mr-3">Sửa</button>
        <button class="btn btn-danger mr-3">Xóa</button>
        <button class="btn btn-primary">Chi Tiết</button>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Toàn</td>
      <td>0123654</td>
      <td>
        <button class="btn btn-warning mr-3">Sửa</button>
        <button class="btn btn-danger mr-3">Xóa</button>
        <button class="btn btn-primary">Chi Tiết</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
