<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form>
    <span> Search By Name:</span>
    <input name="name" type="text" th:value="${name}" placeholder="Name.."/>

    <span> Search By Code:</span>
    <input name="code" type="text" th:value="${code}" placeholder="Code"/>

    <input type="submit" value="search"/>
</form>


<a class="btn btn-danger" href="/customer/create">Create New Customer</a>
<table class="table table-hover">
    <tr class="thead-dark">
        <th>#</th>
        <th>Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Phone</th>
        <th>address</th>
        <th>idCard</th>
        <th>TypeCustomer</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <th:block th:each="customer,stt: ${customers}">
        <tr>
            <td th:text="${stt.count}"></td>
            <td th:text="${customer.codeCustomer}"></td>
            <td th:text="${customer.nameCustomer}"></td>
            <td th:text="${customer.gender}"></td>
            <td th:text="${#dates.format(customer.birthday,'dd-MM-yyyy')}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.typeCustomer}"></td>
            <td th:text="${customer.email}"></td>
            <td><a  th:href="@{/customer/edit/__${customer.id}__}">Edit |</a>
                <a th:href="@{/customer/delete/__${customer.id}__}" onclick="return deleteKH()">Delete  </a></td>

        </tr>
    </th:block>


</table>
<div>
    <a th:href="@{'/customer'(page=${customers.number},name=${name},code=${code})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customer'(page=${customers.number + 2},name=${name},code=${code})}" th:if="${customers.hasNext()}">Next</a>
</div>
<script>
    function deleteKH() {
        return confirm("Bạn vẫn muốn xóa khách hàng này ?")
    }
</script>
<footer th:replace="layout :: footer"></footer>
</html>