<!--<app-font-size-editor></app-font-size-editor>-->
<!--<app-pet></app-pet>-->
<!--<app-calculator></app-calculator>-->
<!--<app-color-picker></app-color-picker>-->
<!--<app-demobootstrap></app-demobootstrap>-->
<!--<app-name-card cardName="Thien" email="pthex`@abc.xyz" phone="99999"></app-name-card>-->
<!--<app-progress-bar width="99" progressColor="red" backgroundColor="brown"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<app-countdown-timer-event [seconds]="30"></app-countdown-timer-event>
